* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: 1s;
}

header {
    width: 100%;
    height: 90vh;
    background-color: rgb(61, 61, 194);
}

header .kit {
    width: 40px;
    height: 40px;
    background-color: white;
    /* position: fixed; */
}

.kit .hgf {
    max-width: 90%;
    height: auto;
    animation: 2s infinite linear;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    height: 63px;
    padding-top: 2%;
    background-color: #363d47
}

.nav-list ul {
    display: flex;
    justify-content: space-between;

}

nav .nav-container span a {
    color: white;
    font-size: 20px;
    margin-left: 4px;
    font-family: sans-serif;
}

.nav-list ul li a {
    color: gray;
    margin-right: 10px;
    font-size: 17px;
}

.nav-list ul li {
    padding: 2%;

}

.nav-list ul li button {
    width: 85px;
    height: 37px;

    margin-left: 55px;
    border: 1px solid green;
    border-radius: 3px;
    background-color: green;
    cursor: pointer;
}

.nav-list ul li button a {
    color: white;
    font-family: sans-serif;

}

.title {
    padding-top: 25%;
    margin-left: 4%;
    width: 65%;
    height: 50px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title h1 {
    font-size: 38px;
}

.title p {
    padding: 2%;
    font-size: 15px;
    margin-left: -17px;
}

.ntb {
    width: 85px;
    height: 37px;
    border: 1px solid green;
    border-radius: 3px;
    background-color: green;
    cursor: pointer;
    margin: 0 1%;
}

.ntb:hover {
    background-color: rgb(6, 255, 6);
}

.ntb a {
    color: white;
    font-family: sans-serif;
}

.nba {
    width: 85px;
    height: 37px;
    cursor: pointer;
    border: 1px solid rgb(61, 61, 194);
    background-color: rgb(61, 61, 194);
}

.nba a {
    color: white;
    font-family: sans-serif;
    text-decoration: underline;
}

.nba :hover {
    border-radius: 3px;
    border: 3px solid rgb(36, 36, 207);
    border-width: 4px;
    border-top: 5%;
}

header .img {
    width: 45%;
    height: 15vh;
    float: right;
    padding-top: 10px;
    margin-right: 5%;
}

.img {
    margin-top: -155px;
}



.three {
    width: 100%;
    height: 86vh;
    background-color: #cdd1d8;
}

.three .inform {
    width: 90%;
    height: 75vh;
    margin: 0 4%;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.rotate {
    width: 50%;
    height: 75vh;

}

.inform .rotate img {
    max-width: 100%;
    height: auto;
    transform: rotateY(30deg) rotateX(15deg);
    border-radius: 9px;
}

.inform .text {
    width: 50%;
    height: 75vh;


}

.inform .text .start {
    width: 100%;
    height: 20vh;

}

.start h2 {
    padding-top: 2%;
    font-size: 33px;
    color: rgb(39, 37, 37);
}

.start p {
    font-weight: 400px;
    padding-top: 2%;
    font-size: 18px;
    color: rgb(58, 52, 52);

}

.text .dsa {
    width: 100%;
    height: 55vh;

    display: flex;
    flex-wrap: wrap;
}

.inform .text .learn1 {
    width: 50%;
    height: 20vh;

}

.inform .text .learn2 {
    width: 50%;
    height: 20vh;

}

.inform .text .learn3 {
    width: 50%;
    height: 20vh;

}

.inform .text .learn4 {
    width: 50%;
    height: 20vh;

}

.pad {
    padding: 2%;
}

.hover:hover {
    text-decoration: underline;
}

.four {
    width: 100%;
    height: 65vh;
    background-color: rgb(224, 224, 224);
}

.four .card {
    width: 90%;
    height: 90vh;
    margin: 0 4%;

}

.four .card .card-menu {
    padding-top: 5%;
    width: 100%;
    height: 20vh;

}

.card .card-menu .hp {
    text-align: center;
    color: rgb(58, 52, 52);
    font-size: 23px;
}

.card .asd {
    width: 100%;
    height: 50vh;

    display: flex;
    flex-wrap: wrap;
}

.card .card1 {
    margin-top: 6%;
    width: 33.33%;
    height: 60vh;

}

.card .card2 {
    margin-top: 6%;
    width: 33.33%;
    height: 60vh;

}

.card .card3 {
    margin-top: 6%;
    width: 33.33%;
    height: 60vh;

}

.card-t {
    width: 92%;
    height: 60vh;
    margin: 0 4%;
    background-color: white;
    border-radius: 10px;
}

.card-t button {
    width: 55px;
    height: 25px;
    margin-left: 180px;
    background-color: rgb(212, 208, 208);
    border-radius: 12px;
    border: 1px solid rgb(212, 208, 208);
}

.card2 .card-t button {
    width: 55px;
    height: 25px;
    margin-left: 180px;
    background-color: rgb(212, 208, 208);
    color: rgb(27, 27, 247);
    border-radius: 12px;
    border: 1px solid rgb(212, 208, 208);
}

.card3 .card-t p {
    padding-top: 35%;
    font-size: 14px;
}

.card-t p {
    text-align: center;
    font-size: 50px;
    color: rgb(58, 52, 52);
}

.card-t ul {
    padding: 5%;
    margin-left: 3%;
    font-size: 20px;
    color: rgb(58, 52, 52);
}

.card-t ul li {
    padding-top: 3%;
    list-style: none;
}

.five {
    width: 100%;
    height: 100vh;
    background-color: #363d47;
}

.zx .bn .ls {
    width: 100%;
    height: 30vh;

}

.zx .bn .ls {

    margin: 0 4%;
    width: 90%;
    height: 75vh;

    display: flex;
    flex-wrap: wrap;
}

.zx .bn .ls .ol {
    margin-top: 220px;
    width: 50%;
    height: 20vh;
    padding-top: 3%;
}

.ol .ar {
    width: 55px;
    height: 55px;
    margin-left: 3%;
    margin-top: 6%;
    background-color: green;
    border: 1px solid green;
    border-radius: 28px;
}

.ol .gh {
    margin-left: 0%;
    margin-top: -8%;
    width: 88%;
    height: 10vh;
    float: right;

}

.ar i {
    margin-left: 39%;
    margin-top: 31%;
    color: white;
}

.gh .ph {
    padding-top: 1%;
}

.gh h3 {
    color: white;
    font-size: 19px;
    font-family: sans-serif;
}

.gh p {
    color: rgb(211, 205, 205);
    font-size: 15px;
}

.zx .po {
    width: 100%;
    height: 50vh;

}

.zx .po .btn {
    width: 75px;
    height: 25px;
    margin-left: 180px;
    background-color: rgb(212, 208, 208);
    border-radius: 12px;
    border: 1px solid rgb(212, 208, 208);
}

.po h2 {
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 35px;
}

.po p {
    padding-top: 1%;
    text-align: center;
    color: rgb(211, 205, 205);
}

.po .nhj {
    width: 90px;
    height: 42px;
    margin-left: 740px;
    border: 1px solid rgb(9, 224, 8);
    background-color: rgb(9, 224, 9);
    border-radius: 12px;
}

.po .nhj a {
    text-decoration: none;
    color: white;
}

.po .nhj:hover {
    background-color: rgb(6, 255, 6);
}

.six {
    width: 100%;
    height: 50vh;
    background-color: #ffffff;

}

.six .six-menu {

    width: 90%;
    height: 50vh;
    margin: 0 4%;
    display: flex;
    flex-wrap: wrap;
}

.six .six-menu .google {
    padding-top: 4%;
    width: 50%;
    height: 65%;

}

.six .six-menu .insta {
    padding-top: 4%;
    width: 50%;
    height: 65%;

}

.cvb {
    font-size: 55px;
    color: rgb(209, 208, 208);
}

.cvp {
    font-size: 55px;
    color: rgb(209, 208, 208);
    font-style: italic;
}

.one-p {
    padding-top: 2%;
    font-size: 17px;
    color: rgb(35, 35, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.two-p {
    padding-top: 1%;
    font-size: 20px;
    color: rgb(77, 76, 76);
}

.dfg {
    /* padding-top: 25%; */
    width: 90%;
    height: 25vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dfg .gfd {
    width: 48%;
    height: 25vh;
    background-color: rgb(240, 240, 233);
    border-radius: 12px;
}

.dfg .gfd .cx {
    width: 70px;
    height: 70px;
    margin-left: 3%;
    margin-top: 10%;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 35px;
}

.cx i {
    margin-left: 33%;
    margin-top: 39%;
    font-size: 25px;
    color: white;
}

.dfg .gfd h3 {
    margin-left: 100px;
    color: rgb(35, 35, 240);
    font-size: 30px;
}

.dfg .gfd p {
    margin-left: 100px;
    color: rgb(51, 51, 53);
    font-size: 15px;
}

.dfg .rfv {

    width: 48%;
    height: 25vh;
    background-color: rgb(240, 240, 233);
    border-radius: 12px;
}

.dfg .rfv:hover {

    background-color: rgb(240, 240, 233);
    border-radius: 12px;
}

.dfg .rfv .lk {
    width: 70px;
    height: 70px;
    margin-left: 3%;
    margin-top: 10%;
    background-color: darkmagenta;
    border: 1px solid darkmagenta;
    border-radius: 35px;
}

.lk i {
    margin-left: 33%;
    margin-top: 39%;
    font-size: 25px;
    color: white;
}

.dfg .rfv h3 {
    margin-left: 100px;
    color: rgb(35, 35, 240);
    font-size: 30px;
}

.dfg .rfv p {
    margin-left: 100px;
    color: rgb(51, 51, 53);
    font-size: 15px;
}

.seven {
    width: 100%;
    height: 30vh;
    background-color: #e9e9e9;
}

.seven .end-begin {
    padding-top: 5%;
    width: 100%;
    height: 30vh;

}

.end-begin .the {
    width: 90%;
    height: 10vh;

    margin: 0 4%;
    display: flex;
    flex-wrap: wrap;
}

.the .yo {
    width: 50%;
    height: 10vh;

}

.the .sa {
    padding-top: 2%;
    width: 50%;
    height: 10vh;
    padding-left: 350px;

}

.end-begin .the .yo h3 {
    color: #363d47;
    font-size: 25px;
}

.end-begin .the .yo p {
    padding-top: 1%;
    color: #656d79;
    font-size: 20px;
}

.the .sa .ton {
    width: 110px;
    height: 45px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.the .sa .ton:hover {
    background-color: rgb(33, 33, 252);
    transition: 0.5s;
}

.the .sa .not {
    width: 110px;
    height: 45px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.eight {
    width: 100%;
    height: 40vh;

    padding-top: 2%;
}

.eight .end-menu {
    width: 90%;
    height: 35vh;
    margin: 0 4%;

    display: flex;
    flex-wrap: wrap;
}

.eight .end-menu .link {
    width: 20%;
    height: 35vh;

}

.end-menu .link h4 {
    font-size: 20px;
    color: #656d79;
}

.end-menu .link p {
    padding-top: 1%;
    color: #656d79;
    font-size: 17px;
}

.end-menu .link a i {
    padding-top: 5%;
    font-size: 20px;
    color: #656d79;
}

.eight .end-menu .ink {
    width: 20%;
    height: 35vh;

    text-align: center;
}

.eight .end-menu .ink ul {
    padding-top: 2%;
    color: #363d47;
    font-size: 17px;
}

.eight .end-menu .ink ul li {
    padding-top: 2%;
    color: #656d79;
    font-size: 13px;
}

footer {
    width: 100%;
    height: 10vh;

}

footer .vb {
    width: 85%;
    height: 10vh;

    margin: 0 4%;
}

footer .vb .df {
    padding-top: 2%;
    color: #656d79;
    font-size: 16px;
    float: left;
}

footer .vb .fd {
    padding-top: 2%;
    color: #656d79;
    font-size: 16px;
    float: right;
}

.two {
    width: 100%;
    height: 35vh;

    padding-top: 40px;
}

.circ {
    width: 90%;
    height: 30vh;
    margin: 0 4%;
    display: flex;
    flex-wrap: wrap;


}

.two .circ .circle {
    width: 30%;
    height: 30vh;

    padding-top: 2%;
}

.two .circ .circle .one {
    width: 70px;
    height: 70px;
    background-color: rgb(45, 45, 189);
    border: 1px solid rgb(45, 45, 189);
    margin: 0 35%;
    border-radius: 35px;
    padding-top: 1%;
}

.two .circ .circle .eno {
    width: 70px;
    height: 70px;
    background-color: rgb(45, 45, 189);
    border: 1px solid rgb(45, 45, 189);
    margin: 0 35%;
    border-radius: 35px;
    padding-top: 1%;
}

.two .circ .circle .neo {
    width: 70px;
    height: 70px;
    background-color: rgb(45, 45, 189);
    border: 1px solid rgb(45, 45, 189);
    margin: 0 35%;
    border-radius: 35px;
    padding-top: 1%;
}

.circ .circle h2 {
    color: #363d47;
    text-align: center;
}

.circ .circle p {
    color: #656d79;
    text-align: center;
}

.two .circ .circle .one i {
    margin-left: 25px;
    padding-top: 24px;
    font-size: 24px;
    color: white;
}

.two .circ .circle .eno i {
    margin-left: 28px;
    padding-top: 22px;
    font-size: 20px;
    color: white;
}

.two .circ .circle .neo i {
    margin-left: 25px;
    padding-top: 22px;
    font-size: 24px;
    color: white;
}